<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <!-- Display Variables -->
    <!-- <%=name %> -->
    <!-- 2+2 = <%2+2%> -->
    <!-- <h1>Home</h1>
    <h5>Home page</h5> -->

    <!-- Conditional statement -->

    <!-- <% if (userId === 20) { %>
    <h1>User ID: <%= userId %></h1>
    <% } else if (userId === 30){ %>
    <h1>User ID: <%= userId %></h1>
    <% } else { %>
    <h1>Nothing...</h1>
    <% } %> -->

    <!-- Loops in ejs -->

    <!-- <% for( let i=0, i<10; i++){ %>
    <h1><% =i %></h1>
    <% } %>
     -->
  </body>
</html>
